body {
    background-color: royalblue;
    margin: 0;
    padding: 0;
}

.mainDiv {
    height: 600px;
    width: 600px;
    background-color: purple;
    /*border-radius: 50%;*/
    margin: 0 auto;   
    font-size: 0%;
     display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    /* делал дома, поэтому 3 последние строчки такие (мы их не проходили, с инлайн блоком почему то не получалось) */

}

.mainDiv > div {
    height: 200px;
    width: 200px;
    margin: 0 auto;  
    /* border-radius: 50%; */
    border: 5px solid black;
    box-sizing: border-box;  
    /* display: inline-block;  */
}




.red{
background-color: red;
}

.red2{
    background-color: red;
    border-radius: 50%;
    }

.red3{
    background-color: red;
    } 

.yellow{
background-color: yellow;
border-radius: 50%;
}

.yellow2{
background-color: yellow;
}

.yellow3{
background-color: yellow;
}

.green{
background-color: green;
}

.green2{
background-color: green;
}

.green3{
background-color: green;
border-radius: 50%;
}



